<h1>Stupid Coaching</h1>

<div class="me">
  <p><%= @user_input %></p>
  <p>- You</p>
</div>

<br>

<div class="mycoach">
  <p><%= @coach %></p>
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>